
@import url('fonts/Ubuntu-L_W.woff2');
@import url('fonts/Ubuntu-Th_W.woff2');
@import url('fonts/Ubuntu-LI_W.woff2');
@import url('fonts/Ubuntu-R_W.woff2');

@font-face {
	font-family: "Ubuntu";
	src:	local("Ubuntu"),
	 		url("fonts/Ubuntu-L_W.woff2") format("woff2"),
			url("fonts/Ubuntu-Th_W.woff2") format("woff2"),
			url("fonts/Ubuntu-LI_W.woff2") format("woff2"),
			url("fonts/Ubuntu-R_W.woff2") format("woff2");
	
}

body {
	background: linear-gradient(#240F20, #781941, #d64729, #d64729) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
	margin: 0;
}
.container {
	padding: 0px;
}

#ssid{
	font-weight: bolder;
}
#bubble{
	background: center / contain no-repeat url("../img/bulle_avec_fond.png");
	text-align: center;
	padding-left: 1em;
	padding-top: 1.3em;
	position:relative;
	left: 46%;
	bottom: 0em;
}

#maskot{
	opacity: 0.30;
	position:relative;
	left: -20%;
	x-transition: all 3s ease-in-out;
	animation: ani 3.5s infinite;
}
@keyframes ani {
	0% {
		top: -150px;
	}
	50% {
		top: -100px;
	}
	100% {
		top: -150px;
	}
  }
u{
	text-decoration-color: #E95420;
}
#totalSubtitle{
	font-size: small;
}
.help{
	color: #ccc;
	font-size: small;
}

#total{
	font-size: 4em;
	padding-top:0.5em;
}

#connect:before{
	content:' 1';
	border: 4px solid #e24c9b80;
	border-radius: 100%;
	padding-left: 0.2em;
	padding-right: 0.2em;
	margin: 4px;
	position:relative;
	right:1em;
	z-index: 5;
	background-color:#781941;
}

#browse:before{
	content:' 2';
	border: 4px solid #e24c9b80;
	border-radius: 100%;
	padding-left: 0.2em;
	padding-right: 0.2em;
	margin: 4px;
	position:relative;
	right:1em;
	z-index: 5;
	background-color:#781941;
}

#browse p{
	padding-left: 2em;
	padding-top:0;
}

#qrCode{
	width: 100px;
	position: absolute;
	bottom: 6px;
	right: 20px;
}

#block-howto{
	width: 60%;
	border: 4px solid #e24c9b80;
	border-radius: 1.2em;
	position: relative;
	left: 15%;
	padding-bottom:1.5em;
}

#block-howto li{
	text-align: left;
	float:none;
	position:relative;
	right:.1em;
	top:0.4em;
	width:100%;
	padding: 0.5em;
	padding-left:1.5em;
}

#main{
	border: 4px solid #e24c9b80;
	border-radius: 4px;
	padding: 6px;
	height: 85%;
}

#right {
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	text-align: center;
	float: left;
	width: 50%;
}

h1{
	position: relative;
	bottom: -0.5em;
	font-size: 2.2em;
	text-align: center;
}

#blockimgs{
	margin: auto;
	left: -4px;
	position: fixed;
	border: 4px solid #e24c9b80;
	border-radius: 4px;
	border-right: none;
	border-left: none;
}
.slide-box img{
	max-width: 21%!important;
}
#imgs{

}
.imgs{
	padding: 5px;
	padding-top: 8px;
	height: 100%;
}

#top {
	width: 50%;
}
#bot {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	border-top: 4px solid #e24c9b80;
	border-bottom: 4px solid #e24c9b80;
	overflow: hidden;
	margin: 0 0 1em 0;
}

*{
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex {
  flex: 1;
}
.row, .row > * {
  /*border: 1px solid;*/
}



.alert-success{
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
.text-success{
	background-color:transparent;
	color:#FFFFFF;
	border-color:#FFF;
	transition-property: background-color border-color color;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
}
