
@import url('/fonts/Ubuntu-L_W.woff2');
@import url('/fonts/Ubuntu-Th_W.woff2');
@import url('/fonts/Ubuntu-LI_W.woff2');
@import url('/fonts/Ubuntu-R_W.woff2');

@font-face {
	font-family: "Ubuntu";
	src:	local("Ubuntu"),
	 		url("/fonts/Ubuntu-L_W.woff2") format("woff2"),
			url("/fonts/Ubuntu-Th_W.woff2") format("woff2"),
			url("/fonts/Ubuntu-LI_W.woff2") format("woff2"),
			url("/fonts/Ubuntu-R_W.woff2") format("woff2");
	
  }

body {
	background: linear-gradient(#240F20, #781941, #d64729, #d64729) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
}
.container {
	padding: 12em 0 0 0;
}
.tagging{
	padding: 0.30em 2em 0 2em;
}
.btns{
	padding: 0 2em 2em 2em;
	/*margin-right: 1.1em;*/
}

.btns-search {
	padding: 0 1em 2em 2em;
	margin-right: 0.2em;
}
.badge-primary{
	background-color: #5E2750;
}
.badge-secondary{
	background-color: #77216F;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

#top .nav-item .active{
	background: #d64729!important;
	color: #FFF!important;
}

#top .nav-link{
	color: #d64729!important;
	/*border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;*/
}

#bottom{
	width: 100%;
}

#bottom .nav-link{
	background: #781941;
	color: #ffa795;
}

#bottom .disabled{
	background: #eeeeee!important;
	color: #C1C1C1!important;
	border-color:#fdfdfe!important;
}

#search, #searchdiv, #lastdiv, #refresh, #bottom, #thankdiv{
	display:none;
}

#refresh{
	text-align: center;
}

#refresh .btn-label{
	left:0px;
}

#header{
	position:fixed;
	z-index:1;
	background: linear-gradient(#240F20, #541533, #48132e) no-repeat center center ;
	padding: 0.5em;
	width: 100%;
}
h1{
	font-size:1.4em;
	padding: 0.5em;
}

h2{
	text-align: center;
}

.searchslogan{
	position: relative;
	overflow: hidden;
	height: 150%;
}
.logoUfr{
	position: relative;
	width: 48%;
	padding-top: 1em;
	display: block;
	top: 0;
	left: 26%;
	text-align:center;
	x-transition: all 3s ease-in-out;
	animation: ani 3.5s infinite;
}
.logoding{
	position: relative;
	width: 36%;
	padding-top: 1em;
	display: block;
	left: 34%;
	text-align:center;
	x-transition: all 3s ease-in-out;
	animation: anim 3.5s infinite;
}
.ubuconlogo{
	position: relative;
	width: 70%;
	left: 18%;
	display: block;
	top: 0;
	x-transition: all 3s ease-in-out;
	animation: ani 3.5s infinite;
}
@keyframes ani {
	0% {
		top: 0;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0;
	}
  }
  
  @keyframes anim {
	0% {
		top: -5px;
	}
	50% {
		top: 100px;
	}
	100% {
		top: -5px;
	}
  }

#searchdiv, #sharediv, #thankdiv, #loadingdiv{
	padding-top: 3em;
}

#loadingdiv {
	position: fixed;
	top: 4em;
	opacity: 0;
}
.ablock {
	/* padding-bottom: 10em; */
	/* border-bottom: 4px solid #e24c9b80; */
	width: 100%;
	margin-bottom: 0.1em;
}
.ablock img {
	width: 100%;
	padding: 0 0.4rem;
}
